/*Services*/
#services {
    background-color: #f8f8f8;
    padding: var(--sectionPadding);
}

.services, .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 1rem 2rem;
    text-align: center;
    background: #ffff;
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;

}

.service-icon svg {
    height: 46px;
    width: 46px;
}